# Pandas III dalis

# Pastaba:

Jeigu kažkuris iš nuskaitymo/įrašymo metodų neveiks, tikėtina, kad trūksta kažko iš šių bibliotekų:
* pip install sqlalchemy
* pip install lxml
* pip install html5lib
* pip install BeautifulSoup4
* pip install openpyxl

In [1]:
import numpy as np
import pandas as pd

### Unikalios reikšmės

In [2]:
top = pd.read_csv('top50.csv', encoding='ISO-8859-1')

In [3]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

Nuskaitėme failą į DataFrame'ą 'top'. Šie duomenys - Spotify top 50 2019 dainų.

Pamėginkime išrinkti unikalias reikšmes iš stulpelio 'Genre':

In [4]:
top['Genre'].unique()

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

jeigu norime sužinoti, kiek jų yra, tiesiog naudojame *len* funkciją:

In [5]:
len(top['Genre'].unique())

21

tą patį gausime, panaudoję pandas metodą **.nunique()**:

In [6]:
top['Genre'].nunique()

21

galime panaudoti metodą **.value_counts()**:

In [7]:
top['Genre'].value_counts()

Genre
dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: count, dtype: int64

gavome sąrašą unikalių reikšmių, ir kiek jų yra lentelėje.

### .apply() metodas

jei pamenate, su DF galime naudoti įvairias funkcijas, pvz.:

In [8]:
top['Length.'].sum()

10048

su **.apply()** galime naudoti ir savo funkcijas. Parašykime funkciją, kuri iš duotų sekundžių skaičiaus išskirs minutes ir sekundes formatu mm:ss

In [9]:
def minutes_seconds(s):
    minutes = s // 60
    seconds = s % 60
    if len(str(seconds)) < 2:
        return f'{minutes}:0{seconds}'
    return f'{minutes}:{seconds}'

In [10]:
minutes_seconds(110)

'1:50'

pritaikykime šią funkciją stulpeliui 'Length.':

In [11]:
top['Length.'].apply(minutes_seconds).head()

0    3:11
1    5:02
2    3:06
3    3:18
4    2:55
Name: Length., dtype: object

Gavome seriją. Galime jos pagrindu jos pagrindu pakoreguoti senąjį arba sukurti naują stulpelį, pvz.:

In [12]:
top['Length.Pretty'] = top['Length.'].apply(minutes_seconds)

In [13]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,3:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,5:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,3:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,2:55

Galime naudoti **lambdas**:

In [14]:
top['Energy'].apply(lambda x: round(x/10)).head()

0    6
1    8
2    8
3    6
4    6
Name: Energy, dtype: int64

pavertėme 'Energy' stulpelio įvertinimus iš šimtabalės į dešimtbalę sistemą.

### Naudingos funkcijos

**.columns** grąžina stulpelių sąrašą

In [15]:
top.columns

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

**.index** suteikia informaciją apie indeksą:

In [16]:
top.index

RangeIndex(start=0, stop=50, step=1)

**.shape** grąžina *tuple* su eilučių ir stulpelių skaičiumi

In [17]:
top.shape

(50, 15)

**.sort_values** surūšiuoja eilutes pagal nurodytą stulpelį:

In [18]:
top.sort_values('Track.Name').head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,2:56
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,2:59
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,2:42
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,3:18
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,3:38

**.isnull()** grąžina lentelę su boolean reikšmėmis kur True reiškia NaN.

In [19]:
top.isnull().head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

ši lentelė tvarkinga, todėl True reikšmių nesimato :)

# Duomenų nuskaitymas / įrašymas

### CSV

CSV - turbūt dažniausiai pasitaikantis formatas, analizuojant duomenis. Vieną CSV failą jau nuskaitėme pirmose šio dokumento eilutėse. Nuskaitykime dar vieną:

In [20]:
duomenys = pd.read_csv('example.csv')

Jeigu norite nurodyti tiesiog failo pavadinimą, įsitikinkite, kad jupyter-notebook veikimo katalogas yra tas pats, kaip ir to failo buvimo vieta. Koks darbinis jupyter-notebook katalogas galite sužinoti, suvedę komandą **pwd**. Kitu atveju reikės nurodyti pilną kelią iki dokumento.

In [21]:
duomenys.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

norėdami įrašyti duomenis į csv failą, darome taip:

In [22]:
duomenys.to_csv('result.csv', index=False)

*index=False* nurodome todėl, kad kurdama csv, pandas nuskaito indeksą, kaip atskirą stulpelį ir paskui sugeneruoja dar vieną šalia.

### XLS

Pandas gali nuskaityti ekselio failus, tačiau tik duomenis. Įvairios funkcijos, formulės, macros pandoms nepavaldžios.

In [23]:
duomenys_xls = pd.read_excel('example.xls', sheet_name='example')

Jei neveikia, cmd paleiskite pip install xlrd

Pandas DataFrame'ų ieško excelio *sheet'uose* todėl reikia juos nurodyti.

In [24]:
duomenys_xls.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

Įrašymas:

In [25]:
duomenys_xls.to_excel('result.xlsx', sheet_name = 'Sheet1')

### HTML

Galime pamėginti nuskaityti HTML tiesiog nurodant pandoms URL:

In [26]:
duomenys_html = pd.read_html('https://lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')

In [27]:
duomenys_html

[   Vilniaus miesto savivaldybė Vilniaus miesto savivaldybė.1
 0                          NaN                           NaN
 1                          NaN                           NaN
 2                          NaN                           NaN
 3                          NaN                           NaN
 4                          NaN                           NaN
 5                          NaN                           NaN
 6                     Valstybė                       Lietuva
 7                    Apskritis            Vilniaus apskritis
 8      Administracinis centras                       Vilnius
 9           Seniūnijų skaičius                            21
 10                Įkūrimo data                       1995 m.
 11                       Meras             Valdas Benkunskas
 12                         NaN                           NaN
 13                   Gyventojų                    625 349[1]
 14                      Plotas                       401 km²
 15                    Tankumas                 1 559 žm./km²
 16           Aukščiausia vieta   230,7 m (Rokantiškių kalva)
 17                         NaN                           NaN
 18                 Tinklalapis                    vilnius.lt
 19                    Vikiteka   Vilniaus miesto savivaldybė,
                              0
 0                          NaN  \
 1  2001 m. gyventojų surašymas
 2          2009 m. gyvenvietės
 3  2011 m. gyventojų surašymas
 4          2016 m. gyvenvietės
 5         2020 m. suskirstymas
 6  2021 m. gyventojų surašymas

                                                  1
 0  Vilniaus miesto savivaldybės istoriniai sąrašai
 1                      2001 m. gyventojų surašymas
 2                              2009 m. gyvenvietės
 3                      2011 m. gyventojų surašymas
 4                              2016 m. gyvenvietės
 5                             2020 m. suskirstymas
 6                      2021 m. gyventojų surašymas  ,
    Savivaldybės istorija
                    Metai Plotas, km² Gyventojų sk.
 0                1942 m.         NaN       146 300  \
 1                1949 m.       139.0           NaN
 2                1957 m.         NaN           NaN
 3                1959 m.       142.0       230 769
 4                1967 m.       153.0       316 400
 5                1970 m.       265.0       372 100
 6                1972 m.       262.0           NaN
 7                1976 m.       263.0       445 900
 8                1979 m.         NaN       475 825
 9                1988 m.       287.0       577 000
 10               1989 m.       287.0       576 747
 11               1999 m.       401.0       588 400
 12    2001 m. (Išsamiau)       401.0       553 904


                               Suskirstymas
 0                                      NaN  \
 1   5 miesto rajonai (11 miesto apylinkių)
 2                         4 miesto rajonai
 3                         4 miesto rajonai
 4                                      NaN
 5                         4 miesto rajonai
 6                         4 miesto rajonai
 7                                      NaN
 8                         4 miesto rajonai
 9                         4 miesto rajonai
 10                                     NaN
 11                                     NaN
 12                            21 seniūnija


                                  Gyvenvietės
 0                                        NaN
 1                                        NaN
 2                                        NaN
 3                        1 miestas (Vilnius)
 4                                        NaN
 5                                  1 miestas
 6                                  1 miestas
 7                                  1 miestas
 8                                  1 miestas
 9                                  1 miestas
 10                                 1 miestas
 11                                       NaN
 12  2 miestai (Grigiškės, Vilnius), 3 kaimai  ,
                                            0
 0  Demografinė raida tarp 1959 m. ir 2023 m.  \
 1                                1959 m.sur.
 2                                    230 769
 3                                2011 m.sur.
 4                                    538 968
 5             Demografinės raidos histograma
 6             Demografinės raidos histograma
 7                                        NaN

                                            1
 0  Demografinė raida tarp 1959 m. ir 2023 m.  \
 1                                1970 m.sur.
 2                                    372 100
 3                                    2019 m.
 4                                    570 806
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            2
 0  Demografinė raida tarp 1959 m. ir 2023 m.  \
 1                                1979 m.sur.
 2                                    475 825
 3                                    2020 m.
 4                                    580 020
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            3
 0  Demografinė raida tarp 1959 m. ir 2023 m.  \
 1                                1989 m.sur.
 2                                    576 747
 3                                2021 m.sur.
 4                                    588 412
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            4
 0  Demografinė raida tarp 1959 m. ir 2023 m.  \
 1                                2001 m.sur.
 2                                    553 904
 3                                    2022 m.
 4                                    592 389
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN

                                            5
 0  Demografinė raida tarp 1959 m. ir 2023 m.
 1                                    2005 m.
 2                                    560 190
 3                                 2023 m.[1]
 4                                    625 349
 5             Demografinės raidos histograma
 6                                        NaN
 7                                        NaN  ,
 Empty DataFrame
 Columns: [Demografinės raidos histograma]
 Index: [],
                       Seniūnija Plotas km²  Gyventojai  (2023 m.)
 0          Antakalnio seniūnija   77,2 km²                  43027  \
 1        Fabijoniškių seniūnija   5,87 km²                  37360
 2           Grigiškių seniūnija    7,1 km²                  10685
 3         Justiniškių seniūnija   2,98 km²                  26263
 4        Karoliniškių seniūnija    4,0 km²                  24643
 5             Lazdynų seniūnija    9,9 km²                  32045
 6        Naujamiesčio seniūnija    4,9 km²                  34668
 7          Naujininkų seniūnija   41,1 km²                  36082
 8   Naujosios Vilnios seniūnija   38,6 km²                  42545
 9             Panerių seniūnija  84,94 km²                  11368
 10         Pašilaičių seniūnija   8,07 km²                  43393
 11           Pilaitės seniūnija   13,9 km²                  31373
 12               Rasų seniūnija   16,3 km²                  12354
 13        Senamiesčio seniūnija    4,5 km²                  25619
 14           Šeškinės seniūnija    4,4 km²                  29558
 15          Šnipiškių seniūnija   3,12 km²                  17270
 16             Verkių seniūnija  55,94 km²                  55752
 17          Vilkpėdės seniūnija   10,3 km²                  19608
 18        Viršuliškių seniūnija    2,5 km²                  13821
 19            Žirmūnų seniūnija    5,7 km²                  43976
 20            Žvėryno seniūnija    2,6 km²                  14004

    Gyventojų tankumas km²  (2023 m.)
 0                        557 žm./km²
 1                       6365 žm./km²
 2                       1505 žm./km²
 3                       8813 žm./km²
 4                       6161 žm./km²
 5                       3237 žm./km²
 6                       7075 žm./km²
 7                        878 žm./km²
 8                       1102 žm./km²
 9                        134 žm./km²
 10                      5493 žm./km²
 11                      2257 žm./km²
 12                       758 žm./km²
 13                      5693 žm./km²
 14                      6718 žm./km²
 15                      5535 žm./km²
 16                       997 žm./km²
 17                      1904 žm./km²
 18                      5528 žm./km²
 19                      7715 žm./km²
 20                      5386 žm./km²  ,
                               Unnamed: 0
 0                                    NaN  \
 1                                   2018
 2            Bendros valstybės paslaugos
 3                                 Gynyba
 4   Viešoji tvarka ir visuomenės apsauga
 5                              Ekonomika
 6                       Aplinkos apsauga
 7             Būstas ir komunalinis ūkis
 8                      Sveikatos apsauga
 9           Poilsis, kultūra ir religija
 10                             Švietimas
 11                     Socialinė apsauga
 12   Finansinio turto įsigijimo išlaidos
 13                              Iš viso:

    Savivaldybių biudžetų išlaidos tūkst. EUR[3]
 0                                           NaN  \
 1                                          2019
 2                                      68 863,6
 3                                          2121
 4                                       2 291,5
 5                                      42 232,1
 6                                      37 201,0
 7                                      74 410,2
 8                                      10 332,8
 9                                      22 314,5
 10                                    287 404,2
 11                                     63 697,6
 12                                           00
 13                                    608 959,6

    Savivaldybių biudžetų išlaidos tūkst. EUR[3].1
 0                                             NaN
 1                                             NaN
 2                                        52 206,7
 3                                            1688
 4                                         2 719,1
 5                                        58 094,6
 6                                        42 331,2
 7                                        77 406,8
 8                                        15 268,8
 9                                        22 904,7
 10                                      324 714,5
 11                                       64 796,4
 12                                           5901
 13                                      661 201,7  ,
                                            Unnamed: 0
 0                                                 NaN  \
 1                                                2018
 2                                           Mokesčiai
 3                           Gyventojų pajamų mokestis
 4                                     Turto mokesčiai
 5                        Prekių ir paslaugų mokesčiai
 6                                           Dotacijos
 7                Lėšos pagal tarpusavio atsiskaitymus
 8                                       Kitos pajamos
 9   Sandoriai dėl materialiojo ir nematerialiojo t...
 10                                       Viso pajamų:

    Savivaldybių biudžetų pajamos tūkst. EUR[4]
 0                                          NaN  \
 1                                         2019
 2                                    337 133,5
 3                                    295 265,4
 4                                     40 527,3
 5                                      1 340,8
 6                                    202 933,3
 7                                            −
 8                                     56 652,6
 9                                      7 075,9
 10                                   603 795,3

    Savivaldybių biudžetų pajamos tūkst. EUR[4].1
 0                                            NaN
 1                                            NaN
 2                                      358 667,0
 3                                      314 283,1
 4                                        2 719,1
 5                                        1 348,4
 6                                      221 896,0
 7                                              −
 8                                       69 536,4
 9                                       10 213,8
 10                                     660 313,2  ,
                                                    0
 0  Almata, Kazachija  Astana, Kazachija  Briuseli...  \

                                                    1
 0  Erfurtas, Vokietija  Gdanskas, Lenkija  Guangd...  \

                                                    2
 0  Madisonas, JAV  Olborgas, Danija  Oslas, Norve...  \

                                                    3
 0  Stokholmas, Švedija  Strasbūras, Prancūzija  T...  ,
                                                     0
 0   Ž • A • RVilniaus miesto savivaldybės saugomos...  \
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                             Valstybiniai rezervatai
 4                                                 NaN
 5                                  Regioniniai parkai
 6                                                 NaN
 7                            Valstybiniai draustiniai
 8                                                 NaN
 9                            Savivaldybės draustiniai
 10                                                NaN
 11                                   Gamtos paminklai
 12                                                NaN
 13               Valstybiniai gamtos paveldo objektai
 14                                                NaN
 15               Savivaldybės gamtos paveldo objektai

                                                     1
 0                                                 NaN
 1   Ž • A • RVilniaus miesto savivaldybės saugomos...
 2                                                 NaN
 3                Vilniaus pilių kultūrinis rezervatas
 4                                                 NaN
 5   Pavilnių regioninis parkas • Verkių regioninis...
 6                                                 NaN
 7   Dvarčionių geomorfologinis • Griovių geomorfol...
 8                                                 NaN
 9   Aukštagirio geomorfologinis • Cedrono aukštupi...
 10                                                NaN
 11  Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 12                                                NaN
 13              Aukštųjų Panerių geležinkelio tunelis
 14                                                NaN
 15  Antakalnio parko kedrinė pušis • Aštuonių klev...  ,
    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos
 0                                                 NaN          \
 1                             Valstybiniai rezervatai
 2                                                 NaN
 3                                  Regioniniai parkai
 4                                                 NaN
 5                            Valstybiniai draustiniai
 6                                                 NaN
 7                            Savivaldybės draustiniai
 8                                                 NaN
 9                                    Gamtos paminklai
 10                                                NaN
 11               Valstybiniai gamtos paveldo objektai
 12                                                NaN
 13               Savivaldybės gamtos paveldo objektai

    Ž • A • RVilniaus miesto savivaldybės saugomos teritorijos.1
 0                                                 NaN
 1                Vilniaus pilių kultūrinis rezervatas
 2                                                 NaN
 3   Pavilnių regioninis parkas • Verkių regioninis...
 4                                                 NaN
 5   Dvarčionių geomorfologinis • Griovių geomorfol...
 6                                                 NaN
 7   Aukštagirio geomorfologinis • Cedrono aukštupi...
 8                                                 NaN
 9   Plikakalnio atodanga • Pūčkorių atodanga • Šeš...
 10                                                NaN
 11              Aukštųjų Panerių geležinkelio tunelis
 12                                                NaN
 13  Antakalnio parko kedrinė pušis • Aštuonių klev...            ,
              0                 1            2
 0          NaN       54° 49′ 20″          NaN
 1  25° 01′ 40″  Vilniaus miestas  25° 28′ 50″
 2          NaN               NaN          NaN
 3          NaN  Vilniaus miestas          NaN
 4          NaN               NaN          NaN
 5          NaN       54° 34′ 00″          NaN,
     0                 1   2
 0 NaN               NaN NaN
 1 NaN  Vilniaus miestas NaN
 2 NaN               NaN NaN,
                                                     0
 0   Ž • A • RLietuvos administracinis suskirstymas...  \
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3                                   Alytaus apskritis
 4                                                 NaN
 5                                     Kauno apskritis
 6                                                 NaN
 7                                 Klaipėdos apskritis
 8                                                 NaN
 9                              Marijampolės apskritis
 10                                                NaN
 11                                Panevėžio apskritis
 12                                                NaN
 13                                  Šiaulių apskritis
 14                                                NaN
 15                                 Tauragės apskritis
 16                                                NaN
 17                                   Telšių apskritis
 18                                                NaN
 19                                   Utenos apskritis
 20                                                NaN
 21                                 Vilniaus apskritis

                                                     1
 0                                                 NaN  \
 1   Ž • A • RLietuvos administracinis suskirstymas...
 2                                                 NaN
 3   · Alytaus miesto savivaldybė · Alytaus rajono ...
 4                                                 NaN
 5   · Birštono savivaldybė · Jonavos rajono saviva...
 6                                                 NaN
 7   · Klaipėdos miesto savivaldybė · Klaipėdos raj...
 8                                                 NaN
 9   · Kalvarijos savivaldybė · Kazlų Rūdos savival...
 10                                                NaN
 11  · Biržų rajono savivaldybė · Kupiškio rajono s...
 12                                                NaN
 13  · Akmenės rajono savivaldybė · Joniškio rajono...
 14                                                NaN
 15  · Jurbarko rajono savivaldybė · Pagėgių saviva...
 16                                                NaN
 17  · Mažeikių rajono savivaldybė · Plungės rajono...
 18                                                NaN
 19  · Anykščių rajono savivaldybė · Ignalinos rajo...
 20                                                NaN
 21  · Elektrėnų savivaldybė · Šalčininkų rajono sa...

                                                     2

Pandas pabandė ištraukti visas lenteles iš puslapio ir gavosi štai tokia košė :)

šie duomenys yra DataFrame'ų sąrašas:

In [28]:
type(duomenys_html)

list

In [29]:
type(duomenys_html[0])

pandas.core.frame.DataFrame

In [30]:
duomenys_html[5].head()

,Seniūnija,Plotas km²,Gyventojai (2023 m.),Gyventojų tankumas km² (2023 m.)
0,Antakalnio seniūnija,"77,2 km²",43027,557 žm./km²
1,Fabijoniškių seniūnija,"5,87 km²",37360,6365 žm./km²
2,Grigiškių seniūnija,"7,1 km²",10685,1505 žm./km²
3,Justiniškių seniūnija,"2,98 km²",26263,8813 žm./km²
4,Karoliniškių seniūnija,"4,0 km²",24643,6161 žm./km²

paspėliojus iškapstėme savo lentelę. Galima, žinoma sukurti *for* ciklą grąžinantį mums reikiamos lentelės indeksą, bet greičiau būna kartais paspėlioti :)

### SQL

Susikurkime primityvią duomenų bazę:

In [31]:
from sqlalchemy import create_engine

In [32]:
engine = create_engine('sqlite:///duomenys.db')

įdėkime mūsų DF į duomenų bazę:

In [33]:
duomenys.to_sql('savivaldos', con=engine, index=False)

21

Dabar ištraukime:

In [34]:
duomenys_sql = pd.read_sql('savivaldos', con=engine)

In [35]:
duomenys_sql.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376