# Pandas užduotys 3

In [1]:
import numpy as np
import pandas as pd

# 1 Ištraukite lentelę iš [šios](https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm) svetainės. Išsaugokite kintamąjame.

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

# 2 šių duomenų pagrindu sukurkite CSV, Excelio failus, ir SQLite3 duomenų bazę. Patikrinkite, ar suveikė.

# 3 Nuskaitykite į DF šį [failą](https://github.com/robotautas/kursas/blob/master/Pandas/top_20_CA_wildfires.csv)

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,7,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,12,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,10,2003,San Diego,273246,2820,15
3,Rush,Lightning,8,2012,Lassen,271911,0,0
4,Rim,Human Related,8,2013,Tuolumne,257314,112,0

# 4 Kiek unikalių reikšmių yra stulpelyje 'cause'?

5

# 5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?

Human Related          7
Lightning              7
Powerlines             4
Undetermined           1
Under Investigation    1
Name: cause, dtype: int64

# 6 Kuriais metais buvo daugiausia gaisrų?

2018

# 7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?

10

# 8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0

# 9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais. 
*nusikopijuokite žodyną, kad nereikėtų rašyti ranka :)*

In [57]:
menesiai = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}

In [67]:
fires.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,7,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,12,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,10,2003,San Diego,273246,2820,15
3,Rush,Lightning,8,2012,Lassen,271911,0,0
4,Rim,Human Related,8,2013,Tuolumne,257314,112,0

# 10 Nuskaitykite lentelę iš [čia](https://lt.wikipedia.org/wiki/S%C4%85ra%C5%A1as:Lietuvos_miestai_pagal_gyventojus).

* **Pakeiskite indeksą į stulpelį 'Miestas'**
* **Sutvarkykite duomenis taip, kad gyventojų sk. reprezentuotų lengelis su 'int' reikšme: -
Ten kur trūksta duomenų - nulis. 
ten, kur reikšmės ne integer, sutvarkykite, kad būtų integer.**

In [459]:
#pabaigoje, miestai.info() turėtų rodyti tokį rezultatą

<class 'pandas.core.frame.DataFrame'>
Index: 103 entries, Vilnius to Panemunė
Data columns (total 9 columns):
2019    103 non-null int64
2011    103 non-null int64
2001    103 non-null int64
1989    103 non-null int64
1979    103 non-null int64
1970    103 non-null int64
1959    103 non-null int64
1923    103 non-null int64
1897    103 non-null int64
dtypes: int64(9)
memory usage: 13.0+ KB